<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collagen Finder</title>
    <link href="{{ url_for('static', filename='styles/style.css')}}" rel="stylesheet" />
</head>
<body>
    <h1>Find Collagens</h1>
    <form action="/Collagens" method="POST" enctype="multipart/form-data">
        <input type="file" name="fasta_seqs" placeholder="Insert fasta file here!" accept=".fasta,.fa,.faa,.txt" />
        <button type="submit">Find Collagens</button>
    </form>
</body>
</html>